{% load static %}
{% load index_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'index/css/style.css'%}" rel="stylesheet" />
</head>
<body>
    {% block mainmenu %}
        {% show_header %}
    {% endblock %}
    {% block main %}
    <main class="main">
        {% block sidebar %}
            <ul class="sidebar">
                {% if cat_selected == 0 %}
                    <li class="selected">Все категории</li>
                {% else %}
                    <li><a href="{% url 'home' %}">Все категории</a></li>
                {% endif %}
                {% show_categories  cat_selected=cat_selected %}
                <!--<li class="selected">Все категории</li>-->
                <!--<li><a>Шутер</a></li>-->
                <!--<li><a>РПГ</a></li>-->
            </ul>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </main>
    {% endblock %}
</body>
</html>