{% load static %}
{% load index_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'index/css/style.css'%}" rel="stylesheet" />
</head>
<body>
    {% block mainmenu %}
        {% show_header %}
    {% endblock %}
    {% block main %}
    <main class="main">
        {% block sidebar %}
            <ul class="sidebar">
                {% if cat_selected == 0 %}
                    <li class="selected">Все категории</li>
                {% else %}
                    <li><a href="{% url 'home' %}">Все категории</a></li>
                {% endif %}
                {% show_categories  cat_selected=cat_selected %}
                <!--<li class="selected">Все категории</li>-->
                <!--<li><a>Шутер</a></li>-->
                <!--<li><a>РПГ</a></li>-->
            </ul>
        {% endblock %}
        <div class="content">
            {% block content %}
            {% endblock %}
            {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="pagination__item">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                    {% endif %}
                    {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="pagination__item current">{{ p }}</li>
                    {% elif p > page_obj.number and p < page_obj.number %}
                    <li class="pagination__item">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="pagination__item">
                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </main>
    {% endblock %}
    <script src="{% static 'index/js/script.js'%}"></script>
</body>
</html>