{% extends 'index/base.html' %}

{% block content %}
    <h1 class="post__title">{{ title }}</h1>

    <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
                <div class="form__row">
                    <div class="form__input">
                        <label class="form__label" for="field.id_for_label">{{ field.label }}: </label>
                        {{ field }}
                    </div>
                    <div class="form__error">{{ field.errors }}</div>
                </div>
            {% endfor %}
        <button type="submit" class="form__button">Регистрация</button>
    </form>
{% endblock %}